<a href="https://colab.research.google.com/github/JairEsc/Aprendizaje/blob/main/LeetCode/LeetCode_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


You are given an array of strings tokens that represents an arithmetic expression in a Reverse Polish Notation.

Evaluate the expression. Return an integer that represents the value of the expression.

Note that:

The valid operators are '+', '-', '*', and '/'.
Each operand may be an integer or another expression.
The division between two integers always truncates toward zero.
There will not be any division by zero.
The input represents a valid arithmetic expression in a reverse polish notation.
The answer and all the intermediate calculations can be represented in a 32-bit integer.


Example 1:

Input: tokens = ["2","1","+","3","*"]
Output: 9
Explanation: ((2 + 1) * 3) = 9
Example 2:

Input: tokens = ["4","13","5","/","+"]
Output: 6
Explanation: (4 + (13 / 5)) = 6
Example 3:

Input: tokens = ["10","6","9","3","+","-11","*","/","*","17","+","5","+"]
Output: 22
Explanation: ((10 * (6 / ((9 + 3) * -11))) + 17) + 5
= ((10 * (6 / (12 * -11))) + 17) + 5
= ((10 * (6 / -132)) + 17) + 5
= ((10 * 0) + 17) + 5
= (0 + 17) + 5
= 17 + 5
= 22

In [38]:
tokens = ["10","6","9","3","+","-11","*","/","*","17","+","5","+"]
while '+' in tokens or '-' in tokens or '*' in tokens or '/' in tokens:
    for entry_index in range(len(tokens)):
        try:
            numero2=int(tokens[entry_index])
        except:
            operation=tokens[entry_index]
            break
        else:
            operation=''
    print(entry_index,' con operation ',tokens[entry_index])
    numero1=int(tokens[entry_index-2])
    if(operation=='+'):
        numero_medio=numero1+numero2
    if(operation=='-'):
        numero_medio=numero1-numero2
    if(operation=='*'):
        numero_medio=numero1*numero2
    if(operation=='/'):
        numero_medio=int(numero1/numero2)
    print(tokens)
    tokens[entry_index]=str(numero_medio)
    print(tokens)
    del tokens[entry_index-1]
    print(tokens)
    del tokens[entry_index-2]
    print(tokens)
    return(int(tokens[2]))

4  con operation  +
['10', '6', '9', '3', '+', '-11', '*', '/', '*', '17', '+', '5', '+']
['10', '6', '9', '3', '12', '-11', '*', '/', '*', '17', '+', '5', '+']
['10', '6', '9', '12', '-11', '*', '/', '*', '17', '+', '5', '+']
['10', '6', '12', '-11', '*', '/', '*', '17', '+', '5', '+']
4  con operation  *
['10', '6', '12', '-11', '*', '/', '*', '17', '+', '5', '+']
['10', '6', '12', '-11', '-132', '/', '*', '17', '+', '5', '+']
['10', '6', '12', '-132', '/', '*', '17', '+', '5', '+']
['10', '6', '-132', '/', '*', '17', '+', '5', '+']
3  con operation  /
['10', '6', '-132', '/', '*', '17', '+', '5', '+']
['10', '6', '-132', '0', '*', '17', '+', '5', '+']
['10', '6', '0', '*', '17', '+', '5', '+']
['10', '0', '*', '17', '+', '5', '+']
2  con operation  *
['10', '0', '*', '17', '+', '5', '+']
['10', '0', '0', '17', '+', '5', '+']
['10', '0', '17', '+', '5', '+']
['0', '17', '+', '5', '+']
2  con operation  +
['0', '17', '+', '5', '+']
['0', '17', '17', '5', '+']
['0', '17', '5', '+']
['17', '5', '+']
2  con operation  +
['17', '5', '+']
['17', '5', '22']
['17', '22']
['22']

Given two strings s and t, return true if s is a subsequence of t, or false otherwise.

A subsequence of a string is a new string that is formed from the original string by deleting some (can be none) of the characters without disturbing the relative positions of the remaining characters. (i.e., "ace" is a subsequence of "abcde" while "aec" is not).



Example 1:

Input: s = "abc", t = "ahbgdc"
Output: true
Example 2:

Input: s = "axc", t = "ahbgdc"
Output: false

In [55]:
s = "abc"
t = "ahbgdc"
def isSubsequence(s: str, t: str) -> bool:
        if(len(s)>0):
            t_i_index=-1
            for s_i in s:
                s_i_flag=False
                if(t_i_index>len(t)):
                    return False
                for t_i_index_for in range(t_i_index+1,len(t)):
                    if(s_i==t[t_i_index_for]):
                        s_i_flag=True
                        t_i_index=t_i_index_for
                        print(t_i_index)
                        break
                if s_i_flag==False:
                    break
            return(s_i_flag)
        else:
            return True

isSubsequence(s, t)

0
2
5

True

In [48]:
for i in range(0,2):
    print(i)

0
1