<a href="https://colab.research.google.com/github/JairEsc/Aprendizaje/blob/main/LeetCode/LeetCode_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

oman numerals are represented by seven different symbols: I, V, X, L, C, D and M.

Symbol       Value
I             1
V             5
X             10
L             50
C             100
D             500
M             1000
For example, 2 is written as II in Roman numeral, just two one's added together. 12 is written as XII, which is simply X + II. The number 27 is written as XXVII, which is XX + V + II.

Roman numerals are usually written largest to smallest from left to right. However, the numeral for four is not IIII. Instead, the number four is written as IV. Because the one is before the five we subtract it making four. The same principle applies to the number nine, which is written as IX. There are six instances where subtraction is used:

I can be placed before V (5) and X (10) to make 4 and 9.
X can be placed before L (50) and C (100) to make 40 and 90.
C can be placed before D (500) and M (1000) to make 400 and 900.
Given an integer, convert it to a roman numeral.



Example 1:

Input: num = 3
Output: "III"
Explanation: 3 is represented as 3 ones.
Example 2:

Input: num = 58
Output: "LVIII"
Explanation: L = 50, V = 5, III = 3.
Example 3:

Input: num = 1994
Output: "MCMXCIV"
Explanation: M = 1000, CM = 900, XC = 90 and IV = 4.

In [1]:
hmap = {
      1:    'I',
      4:    'IV',
      5:    'V',
      9:    'IX',
     10:    'X',
     40:    'XL',
     50:    'L',
     90:    'XC',
    100:    'C',
    400:    'CD',
    500:    'D',
    900:    'CM',
   1000:    'M'
}

In [22]:
num=4
K=list(hmap.keys())
res=''
for n in K[::-1]:
    while(num>=n):
        num-=n
        res+=hmap[n]
res

'IV'

Roman to integer

In [40]:
# prompt: define json intercambing keys and values given hmap = {       1:    'I',       4:    'IV',       5:    'V',       9:    'IX',      10:    'X',      40:    'XL',      50:    'L',      90:    'XC',     100:    'C',     400:    'CD',     500:    'D',     900:    'CM',    1000:    'M' }

# Create a new dictionary with keys and values swapped
new_hmap = {v: k for k, v in hmap.items()}

# Print the new dictionary
new_hmap['IV']

4

In [55]:
num='LIV'
count=-1
new_hmap = {v: k for k, v in hmap.items()}
print(len('LIV'))
# Print the new dictionary
print(new_hmap)
res=0
while(abs(count)<=len(num)):
    last=num[count]
    print('last, ',last)
    print(type(last))
    if(abs(count)==len(num)):
        res+=new_hmap[str(last)]

    else:
        if(new_hmap[num[count-1]]<new_hmap[last]):
            print("Es compuesto")
            res+=new_hmap[str(num[count-1])+str(last)]
            count-=1
        else:
            res+=new_hmap[str(last)]
    count-=1
print(res)

3
{'I': 1, 'IV': 4, 'V': 5, 'IX': 9, 'X': 10, 'XL': 40, 'L': 50, 'XC': 90, 'C': 100, 'CD': 400, 'D': 500, 'CM': 900, 'M': 1000}
last,  V
<class 'str'>
Es compuesto
last,  L
<class 'str'>
54

In [54]:
num[-1]

'V'